[Unit]
Description=FadecandyServer

[Service]
TimeoutStartSec=0
{% if fadecandy_config_file_path %}
ExecStart={{ fadecandy_install_dir }}/bin/fcserver-rpi {{ fadecandy_config_file_path }}
{% else %}
ExecStart={{ fadecandy_install_dir }}/bin/fcserver-rpi
{% endif %}

[Install]
WantedBy=multi-user.target
